title: OSP2-BE
description: OSP2 Black Edition configuration and tools
url: "https://scoqx.github.io"
baseurl: ""

# Build settings
markdown: kramdown
highlighter: rouge
theme: jekyll-theme-primer

# Plugins
plugins:
  - jekyll-github-metadata
  - jekyll-seo-tag
  - jekyll-coffeescript
  - jekyll-commonmark-ghpages
  - jekyll-gist
  - jekyll-paginate
  - jekyll-relative-links
  - jekyll-optional-front-matter
  - jekyll-readme-index
  - jekyll-default-layout
  - jekyll-titles-from-headings

# Include/exclude files
include:
  - _pages

exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - .bundle/
  - .github/

# Collections
collections:
  pages:
    output: true
    permalink: /:name/
    title: Pages